.body__container {
    
    color: black;
}
.service__container{
    color: black;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.serv{
    width: 400px;
    height: 340px;
    border: 1px solid gray;
    padding: 20px;
    background:white;
    margin: 20px;
    text-align: center;
}

.highlight{
    color:  #f46b45;
    height: 100px;
}
