@import "src/scss/mixin";

.about {
  @include containerWidthDesktop;
 
  // color: black;
  // padding: 10px;
  // text-align: center;
  // margin-top: 50px;
  // display: flex;
  // justify-content: center;
  // flex-direction: initial;
  // flex-wrap: wrap;
}
.about h2 {
  border-bottom: 2px solid #00509d;
}

.tariff {
  width: 80%; 
  display: flex;
  justify-content: space-around;
  border-style: outset;
  margin: 10px auto;
  flex-wrap: wrap;

}

@media all and (max-width: 550px) {
.tariff{
  flex-direction: column;
}
  
}

