.footer {
  /*background: linear-gradient(to left, #fdc500, #00509d);*/
  background-color: #00509d;
  color: 'white';
  width: 100%;
}
.footer__h3 {
  text-align: initial;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  color: white;
}
