.App {
  text-align: center;
  color: rgb(255, 255, 255);
  
}
.main {
  
  margin: auto;
  text-align: center;
  width: 100%;
}

.main p{
  font-size: 1.3em;
}
@media screen and (min-width: 600px) {

  .main-screen{
      

    width: 100%;
    
  }
}

@media only screen and (min-width: 768px) {
  
  .main-screen{
      

    width: 100%;
    
  }
}

@media only screen and (min-width: 1200px) {
  .main-screen{
      

    width: 100%;
    
  }
}